<!DOCTYPE html>
<html>

  <head>
    <title>MMHW</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP'] %>&v=3.exp&libraries=places,geometry"></script>
    <script src="http://www.geocodezip.com/scripts/v3_epoly.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id='border'>
      <div id='top'></div>
      <div id='bottom'></div>
      <div id='left'></div>
      <div id='right'></div>
    </div>
    <%= yield %>
    <footer class="footer">
      <p>Made by Shraddha Patel | Powered by Google</p>
    </footer>
  </body>

</html>